# Primary domain(s) for the admin MWS instance
PRIMARY_DOMAIN=gyld.local
WWW_DOMAIN=www.gyld.local

# Additional subdomains for other MWS services
SUBDOMAINS="sdm.gyld.local silat.gyld.local"

SSL_EMAIL="gyld.app@example.com"
CONFIG_FILE="nginx.dev.conf"

# Others as needed
